openapi: 3.0.3
info:
  title: fluffy-bank
  version: 2.0.4
  description: "家計簿データを取得更新するAPI"
tags:
  - name: "exec"
    description: "実行"
servers:
  - url: "https://script.google.com/macros/s/{deployId}"
    description: GAS
    variables:
      deployId:
        default: localhost
        enum:
          - localhost

paths:
  /exec:
    post:
      tags:
        - "exec"
      summary: 実行
      description: GAS はリダイレクトを有効にする必要があります
      requestBody:
        description: Request payload
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  description: HTTP method (GET, POST, PUT, DELETE)
                  enum: ["GET", "POST", "PUT", "DELETE"]
                authToken:
                  type: string
                  description: Authentication token
                path:
                  type: string
                  description: /exec 以降につけると認証が必要になるためpropertiesにする
                  enum: ["/items", "/categories"]
                params:
                  description: /items は必須
                  oneOf:
                    - $ref: "#/components/schemas/GetItemsParams"
                    - $ref: "#/components/schemas/PostPutDeleteItemsParams"
              required:
                - method
                - authToken
                - path
      responses:
        "200":
          description: Action executed successfully

components:
  schemas:
    Id:
      type: string
      description: "家計簿ID (uuid)"
      example: "xxxxxxxxxx"

    Type:
      type: string
      enum: ["収入", "支出"]
      description: "収入支出"
      example: "支出"

    Item:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/Id"
        date:
          type: string
          format: date
          description: "日付"
          example: "2023-05-11"
        type:
          $ref: "#/components/schemas/Type"
        category1:
          type: string
          description: "収入支出の分類1"
          example: "住宅"
        category2:
          type: string
          description: "収入支出の分類2"
          example: "光熱費"
        amount:
          type: number
          description: "金額"
          example: 6000
        description:
          type: string
          description: "補足"
          example: "電気ガス"
      required:
        - id
        - date
        - type
        - category1
        - category2
        - amount
        - description

    GetItemsParams:
      type: object
      description: "method: GET"
      properties:
        year:
          type: string
          description: "年"
          example: "2022"
        month:
          type: string
          description: "月"
          example: "05"
      required:
        - year

    PostPutDeleteItemsParams:
      type: object
      description: "method: POST/PUT/DELETE"
      properties:
        item:
          $ref: "#/components/schemas/Item"
      required:
        - item

    Category:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/Type"
        category1:
          type: string
          description: "収入支出の分類1"
          example: "住宅"
        category2:
          type: string
          description: "収入支出の分類2"
          example: "光熱費"
      required:
        - type
        - category1
        - category2
